/*Code By Haris*/
* {
	margin: 0;
	padding: 0;
}
.nav{
	width: 100%;
	height: 60px;
	margin-bottom: 20px;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
header {
	height: 100px;
	width: 100%;
	z-index: 10;
}
.logo img{
	width: 140px;
	height: 80px;
	float: left;
	margin-left: 10px;
}
.rightnav {
	float: right;
	line-height: 80px;
}
.leftnav{
	float: left;
	line-height: 80px;
}
nav a {
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: "Poppins",arial;
	margin: 0 10px;
	color: #000000;
	border-color:white;
	border-radius: 4px;
	font-weight: bold;
}
a:hover{
	background-color: #ff8c00;
	color: white;
	text-decoration:none;
}
#newimg{
	background-image:url(nasa.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 600px;
	margin-bottom: 30px;
}
#newimg h1{
	padding-top: 200px;
	padding-right: 400px; 
	font-family: "Poppins",Arial;
	font-size: 60px;
	color:#ff8c00;
	margin: 40px;
	font-weight: bold;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container .box{
	position: relative;
	width: 350px;
	padding: 40px;
	background: white;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
	border-radius: 40px;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}
.container .box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: #ff8c00;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
	border-radius: 50%;
	font-size:50px;
	font-weight: 800px;
	transition: 5s;
}
#third_heading{
	text-align: center;
	font-size: 80px;
	font-family: "Poppins",Arial;
	margin: 50px;
	margin-top: 60px;

}
#popular_service{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 30vh;
}
#popular_service img{
	width: 100px;
	height: 100px;
}
.container .box2{
	font-family: "Poppins",Arial;
	position: relative;
	width: 250px;
	padding: 40px;
	background: white;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
	border-radius: 50%;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;

}
.container .box2 .icon2{
	background-color: white;
}
.container .box2:hover{
}
.container:hover{
	font-size: 20px;
	color: orange;
}
.third{
	height: 550px;
	display: flex;
	background-image: url('footer_img.jpg');
	background-size: 100% 100%;
}
.text3{
	margin-top: 200px;
	font-size: 35px;
	color: black;
	padding-left: 20px;
	font-family: "space mono",arial;
	font-weight: 600;
}

.four{
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	font-size: 25px;
}
.footer{
	padding-left: 10px;
	color: #8f8f96;
	font-family: 'Poppins', sans-serif;
}
.footer2{
	padding-left: 60px;
	color: #8f8f96;
	font-family: 'Poppins', sans-serif;
}
.footer3{
	padding-left: 100px;
	color: #8f8f96;
	font-family: 'Poppins', sans-serif;
}